{% extends "base.html" %}
{% block title %}Edit Template Variable{% endblock %}

{% block content %}
    <h1>
        <span class="uk-icon-cube"></span>Edit Template Variable "{{ template_variable.var_name }}"
    </h1>
    <p class="uk-text-muted uk-text-small">in Config Template <strong>{{ config_template.name }}</strong></p>
    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{ url_for("view_config_template", project_id=config_template.project.id, config_template_id=config_template.id) }}" id="_back">
                <span class="uk-icon-arrow-left"></span> back
            </a>
        </li>
    </ul>

    <p class="uk-text-warning">Please note that the change of the <strong>variable name</strong> affects only the Template Value Sets, not the use within the template content.</p>

    <form method="POST" action="" class="uk-form uk-form-stacked">
        {{ form.csrf_token }}

        <div class="uk-form-row">
            {{ form.var_name_slug.label(class_="uk-form-label") }}
            {% if form.var_name_slug.errors %}
                {{ form.var_name_slug(class_="uk-form-controls uk-width-1-1 uk-form-danger")|safe }}
            {% else %}
                {{ form.var_name_slug(class_="uk-form-controls uk-width-1-1")|safe }}
            {% endif %}
            {% if form.var_name_slug.errors %}
                {% for error in form.var_name_slug.errors %}<p class="uk-text-danger">{{ error }}</p>{% endfor %}
            {% endif %}
        </div>

        <div class="uk-form-row">
            {{ form.description.label(class_="uk-form-label") }}
            {% if form.description.errors %}
                {{ form.description(class_="uk-form-controls uk-width-1-1 uk-form-danger")|safe }}
            {% else %}
                {{ form.description(class_="uk-form-controls uk-width-1-1")|safe }}
            {% endif %}
            {% if form.description.errors %}
                {% for error in form.description.errors %}<p class="uk-text-danger">{{ error }}</p>{% endfor %}
            {% endif %}
        </div>

        <div class="uk-form-row">
            <button id="submit" type="submit" value="save" class="uk-button uk-width-1-1 uk-button-success">save</button>
        </div>
    </form>
{% endblock %}