{% extends "base.html" %}
{% block title %}View Configuration for {{ template_value_set.hostname }}{% endblock %}

{% block content %}
    <h1><span class="uk-icon-code"></span> Configuration for {{ template_value_set.hostname }}</h1>
    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{  url_for("view_config_template", project_id=config_template.project.id, config_template_id=config_template.id) }}" id="_back">
                <span class="uk-icon-arrow-left"></span> back
            </a>
        </li>
        <li>
            <a href="{{ url_for("download_config", config_template_id=config_template.id, template_value_set_id=template_value_set.id) }}" id="view_config_{{ template_value_set.id }}">
                <span class="uk-icon-download"></span> download result
            </a>
        </li>
    </ul>

    <p>The following configuration was generated:</p>

    <pre>{{ config_result }}</pre>

    <p>You can use the following <strong>Cisco IOS commands</strong> to copy the configuration from the local TFTP/FTP server:</p>
    {% for interface_name in ip_addresses.keys() %}
        <ul>
            <li>on interface <strong>{{ interface_name }}</strong>:
            {% for ip in ip_addresses[interface_name] %}
                <ul>
                    <li><code>copy ftp://ftpuser:{{ ftp_password }}@{{ ip }}/{{ config_template.project.name_slug }}/{{ config_template.name_slug }}/{{ template_value_set.hostname }}_config.txt</code></li>
                    <li><code>copy tftp://{{ ip }}/{{ config_template.project.name_slug }}/{{ config_template.name_slug }}/{{ template_value_set.hostname }}_config.txt</code></li>
                </ul>
            {% endfor %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}