{% extends "base.html" %}
{% block title %}All Projects{% endblock %}

{% block content %}
    <h1>All Projects</h1>
    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{ url_for("home") }}" id="_back">
                <span class="uk-icon-arrow-left"></span>
                back
            </a>
        </li>
    </ul>

    {% if projects|length == 0 %}
        <p>No Projects found in database. <a href="{{  url_for("add_project") }}" id="create_project">Create your first Project now.</a></p>
    {% else %}
        {% include 'project/_projects_table.html' %}
    {% endif %}
{% endblock %}