{% extends "base.html" %}
{% block title %}View Project{% endblock %}

{% block content %}
    <h1>
        <span class="uk-icon-folder"></span> {{ project.name }}
    </h1>
    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{  url_for("view_all_projects") }}" id="_back">
                <span class="uk-icon-arrow-left"></span>
                back
            </a>
        </li>
        <li>
            <a href="{{ url_for("edit_project", project_id=project.id) }}">
                <span class="uk-icon-edit"></span>
                edit
            </a>
        </li>
        <li>
            <a href="{{ url_for("delete_project", project_id=project.id) }}"">
                <span class="uk-icon-close"></span>
                delete
            </a>
        </li>
    </ul>

    {% if project.configtemplates.all()|length == 0 %}
        <p>No Config Templates found in database.</p>
        <p>
            <a href="{{  url_for("add_config_template", project_id=project.id) }}" id="create_config_templates">
                <span class="uk-icon-plus"></span>
                Create the first Config Template here.
            </a>
        </p>
    {% else %}
        <table class="uk-table">
            <comment>The following Config Templates are defined within this Project.</comment>
            <caption class="uk-text-right">
                <a href="{{  url_for("add_config_template", project_id=project.id) }}" id="create_config_templates">
                    <span class="uk-icon-plus"></span>
                    add a Config Template
                </a>
            </caption>
            <thead>
                <tr>
                    <th>Template Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ct in project.configtemplates.all() %}
                <tr>
                   <td>
                       <span class="uk-icon-file"></span> <a href="{{ url_for("view_config_template", project_id=project.id, config_template_id=ct.id) }}" id="view_config_template_{{ ct.id }}">{{ ct.name }}</a>
                   </td>
                   <td class="uk-text-right">
                       <a href="{{ url_for("edit_config_template", project_id=project.id, config_template_id=ct.id) }}" id="edit_config_template_{{ ct.id }}"><span class="uk-icon-edit"></span> edit</a> |
                       <a href="{{ url_for("delete_config_template", project_id=project.id, config_template_id=ct.id) }}" id="delete_config_template_{{ ct.id }}"><span class="uk-icon-close"></span> delete</a>
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}