{% extends "base.html" %}
{% block title %}Add Template Value Set{% endblock %}

{% block content %}
    <h1><span class="uk-icon-table"></span> Add a new Template Value Set</h1>
    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{ url_for("view_config_template", project_id=config_template.project.id, config_template_id=config_template.id) }}" id="_back">
                <span class="uk-icon-arrow-left"></span> back
            </a>
        </li>
    </ul>

    {% include 'template_value_set/_template_value_set_form.html' %}
{% endblock %}