{% extends "base.html" %}
{% block title %}Delete Template Value Set{% endblock %}

{% block content %}
    <h1><span class="uk-icon-table"></span> {{ template_value_set.hostname }}</h1>
    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{ url_for("view_template_value_set", config_template_id=template_value_set.config_template.id, template_value_set_id=template_value_set.id) }}" id="_back">
                <span class="uk-icon-arrow-left"></span> back
            </a>
        </li>
    </ul>
    <form action="" method="POST" class="uk-form">
        <div class="uk-form-row">
            <p>Do you really want to delete this Template Value Set? All associated elements are also deleted.</p>
        </div>
        <div class="uk-form-row">
            <button id="submit" type="submit" name="yes" value="yes" class="uk-button uk-button-danger">Delete Template Value Set</button>
        </div>
    </form>
{% endblock %}