{% extends "base.html" %}
{% block title %}View Template Value Set{% endblock %}

{% block content %}
    <h2>Template Value Set: {{ template_value_set.hostname }}</h2>
    <p>
        <a href="{{  url_for("view_config_template", project_id=config_template.project.id, config_template_id=config_template.id) }}" id="_back">back</a> |
        <a href="{{  url_for("edit_template_value_set", config_template_id=config_template.id, template_value_set_id=template_value_set.id) }}" id="edit_template_value_set">edit this Template Value Set</a> |
        <a href="{{ url_for("view_config", config_template_id=config_template.id, template_value_set_id=template_value_set.id) }}" id="view_config_{{ template_value_set.id }}">view config</a>
    </p>
    {% if template_value_set.values.all()|length == 0 %}
        <p>There are no Template Values defined.</p>
    {% else %}
        <p>The following <strong>Template Values</strong> are defined for this Config Template:</p>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
                {% for val in template_value_set.values.all() %}
                <tr>
                    <td>{{ val.var_name }}</td>
                    <td>{{ val.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>The <strong>hostname</strong> variable is automatically added based on the name of the Template Value Set.</p>
    {% endif %}

{% endblock %}