<form method="POST" action="" class="uk-form uk-form-stacked">
    {{ form.csrf_token }}

    <div class="uk-form-row">
        {{ form.name.label(class_="uk-form-label") }}
        {% if form.name.errors %}
            {{ form.name(class_="uk-form-controls uk-form-danger", size=40)|safe }}
        {% else %}
            {{ form.name(class_="uk-form-controls", size=40)|safe }}
        {% endif %}
        {% if form.name.errors %}
            {% for error in form.name.errors %}<p class="uk-text-danger">{{ error }}</p>{% endfor %}
        {% endif %}
    </div>

    <div class="uk-form-row">
        {{ form.template_content.label(class_="uk-form-label") }}
        <span style="font-family: 'Courier New'">
            {% if form.template_content.errors %}
                {{ form.template_content(class_="uk-form-controls uk-width-1-1 uk-form-danger", rows=20, cols=80)|safe }}
            {% else %}
                {{ form.template_content(class_="uk-form-controls uk-width-1-1", rows=20, cols=80)|safe }}
            {% endif %}
        </span>
        {% if form.template_content.errors %}
            {% for error in form.template_content.errors %}<p class="uk-text-danger">{{ error }}</p>{% endfor %}
        {% endif %}
        <p class="uk-text-small uk-text-muted">
            You find a basic overview about the configuration template syntax <a href="{{ url_for("template_syntax") }}" target="_template_syntax">here</a>.
        </p>
    </div>

    {% if config_template %}
        <div class="uk-alert uk-alert-warning">
            <strong>Please note:</strong> If you change the content of the configuration template, all associated Template Values are removed.
        </div>
    {% endif %}

    <div class="uk-form-row">
        <button id="submit" type="submit" value="save" class="uk-button uk-width-1-1 uk-button-success">save</button>
    </div>
</form>