{% extends "base.html" %}
{% block title %}Edit Values for Config Template{% endblock %}

{% block content %}
    <h1><span class="uk-icon-table"></span> Edit all values for the Config Template "{{ config_template.name }}"</h1>

    <ul class="uk-subnav uk-subnav-line">
        <li>
            <a href="{{ url_for("view_config_template", project_id=project_id, config_template_id=config_template.id) }}" id="_back">
                <span class="uk-icon-arrow-left"></span> back
            </a>
        </li>
    </ul>

    <p>You can change all values for the Config Template within the following textarea. The first line contains all variables that are defined within the Config Template. Every variable and value is separated by a semicolon. A line break will edit an existing Template Value Set or create a new one.</p>

    {% include 'config_template/_variable_table.html' %}

    <form method="POST" action="" class="uk-form uk-form-stacked">
        {{ form.csrf_token }}

        <div class="uk-form-row">
            {{ form.csv_content.label(class_="uk-form-label") }}
            {% if form.csv_content.errors %}
                {{ form.csv_content(class_="uk-form-controls uk-width-1-1 uk-form-danger", rows=20, cols=80)|safe }}
            {% else %}
                {{ form.csv_content(class_="uk-form-controls uk-width-1-1", rows=20, cols=80)|safe }}
            {% endif %}
            {% if form.csv_content.errors %}
                {% for error in form.csv_content.errors %}<p class="uk-text-danger">{{ csv_content }}</p>{% endfor %}
            {% endif %}
        </div>

        <div class="uk-form-row">
            <button id="submit" type="submit" name="yes" value="yes" class="uk-button uk-width-1-1 uk-button-success">update values</button>
        </div>
    </form>
{% endblock %}